################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/MvcMoviesCore/DesignTimeBuild
/.vs/MvcMoviesCore/v15
/.vs/MvcMoviesCore/v16
/MvcMoviesCore/bin
/MvcMoviesCore/obj
