@model global::MvcMoviesCore.Models.Person

@{
    ViewData["Title"] = "Edit";
    var personTypesId = ViewData["PersonTypesId"] as IEnumerable<SelectListItem>;
    var sexId = ViewData["SexId"] as IEnumerable<SelectListItem>;
    var nationalityId = ViewData["NationalityId"] as IEnumerable<SelectListItem>;
}

<h2>Edit</h2>

<h4>Person</h4>
<hr />
<form class="card-form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="col-form-label">Name:</label>
                        <input asp-for="Name" class="col-form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-form-label">Geschlecht:</label>
                        <div class="col-form-label">
                            <select asp-for="SexId" class="select2-dropdown col-form-control" asp-items="@sexId"></select>
                        </div>
                        <span asp-validation-for="SexId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-form-label">Geburtstag:</label>
                        <input type="date" asp-for="Birthday" class="col-form-control" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-form-label">Todestag:</label>
                        <input type="date" asp-for="Obit" class="col-form-control" />
                        <span asp-validation-for="Obit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="col-control-label">Nationalität:</label>
                        <select asp-for="NationalityId" class="select2-dropdown col-form-control" asp-items="@nationalityId"></select>
                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-control-label">Größe:</label>
                        <input type="text" asp-for="Height" class="col-form-control" />
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-control-label">Gewicht:</label>
                        <input type="number" asp-for="Weight" class="col-form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-control-label">Rolle</label>
                        <select asp-for="PersonTypesId" class="select2-dropdown col-form-control" asp-items="@personTypesId"></select>
                        <span asp-validation-for="PersonTypesId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-3">
                        <a asp-action="Upload"><button class="btn btn-file">Foto hinzufügen</button></a>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-action="Edit" type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
