@model List<MvcMoviesCore.Models.Person>

@{
    ViewData["Title"] = "Aktualisierte Fotos";
    var imagesSource = ViewData["ImagesSource"];
}

<div class="container-fluid">
    <div class="row">
        <h2>Personen</h2>
        <h4>Aktualisierte Fotos</h4>
        <hr />
        @if (!Model.Any())
        {
            <p>Es wurden keine Fotos zum aktualisieren gefunden.</p>
        }
        else
        {
            <table class="table table-striped cell-border table-hover compact" cellspacing="0" style="width: 100%; word-wrap:break-word; table-layout: auto;" id="updatedImages">
                <thead style="display: none">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model)
                    {
                        <tr>
                            <td>
                                <div class="w3-content w3-section">
                                    @foreach (var image in person.PersonImages)
                                    {
                                        var src = $"{imagesSource}/{image.PersonId}/{image.Name}";
                                        <img class="mySlides w3-animate-fading" src="@src" style="max-height:250px; margin-left:auto; margin-right:auto" />
                                    }
                                </div>
                            </td>
                            <td>
                                <p>@person.Name</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

@section Scripts
{
    <partial name="_DataTableScripts" />
    <partial name="_ShowImageModalScripts" />

    <script>
        $(document).ready(function () {
            $('#updatedImages').DataTable({
                ordering: true,
            });
        })

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (x.length <= 0)
                return;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000); // Change image every 9 seconds
        }
    </script>
}