@model MvcMoviesCore.Models.StorageLocation

@{
    ViewData["Title"] = "Edit - Lagerort";
}

<h2>Lagerort</h2>

<h4>Editt</h4>
<hr />
<form asp-action="Edit" class="card-form-horizontal" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="form-label">Lagerort:</label>
                        <input asp-for="Name" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Beschreibung:</label>
                        <input asp-for="Description" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" title="speichern" class="fa-regular fa-floppy-disk fa-bounce fa-2xl" style="color: #63E6BE; --fa-animation-duration: 2s; border: none; background-color: Transparent; " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<a asp-action="Index" title="zurück zur Liste"><i class="fa-regular fa-circle-left fa-shake fa-2xl" style="color: #74C0FC; --fa-animation-duration: 2s;"></i></a>