@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@{
    var showAdult = _configuration.GetSection("AppSettings")["ShowAdult"];
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>@ViewData["Title"] - Movies</title>
    <link href="~/MvcMoviesCore.styles.css" asp-append-version="true" rel="stylesheet" />

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/toggle-switch.css" rel="stylesheet" />
    <link href="~/css/datatables.searchhighlight.css" rel="stylesheet" />
    <link href="~/css/dropzone.min.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome-free-6.5.2-web/css/all.min.css" rel="stylesheet" />

    <environment include="Development">
        <link href="~/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/material-dashboard.min.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/css/site.min.css" asp-append-version="true" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="offcanvas offcanvas-start w-15" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a asp-controller="home" asp-action="Index" class="nav-link text-truncate">
                        <i class="fas fa-home" style="color: #3a5788;"></i><span class="ms-1 d-none d-sm-inline" style="color: #3a5788;">Home</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-film" style="color: #3a5788;"></i><span class="ms-1 d-none d-sm-inline">Filme</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                        <li><a asp-controller="Movies" asp-action="Index" class="dropdown-item">alle anzeigen ...</a></li>
                        <li><a asp-controller="GetRandomMovie" asp-action="Index" class="dropdown-item">zufälliger Film</a></li>
                        @if (showAdult.Equals("true", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <li><a asp-controller="GetRandomAdultMovie" asp-action="Index" class="dropdown-item">zufälliger FSK18 Film</a></li>
                        }
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a asp-controller="Movies" asp-action="FileSizes" class="dropdown-item">Dateigrößen ermittlen</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-users" style="color: #3a5788;"></i><span class="ms-1 d-none d-sm-inline">Personen</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                        <li><a asp-controller="Person" asp-action="Index" class="dropdown-item">alle anzeigen ...</a></li>
                        <li><a asp-controller="Person" asp-action="Create" class="dropdown-item">hinzufügen ...</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a asp-controller="Person" asp-action="Birthdays" class="dropdown-item">Geburtstag</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tools" style="color: #3a5788"></i><span class="ms-1 d-none d-sm-inline">Stammdaten</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                        <li>
                            <<a asp-controller="RecordCarrier" asp-action="Index" class="dropdown-item">Datenträger</a>
                        </li>
                        <li>
                            <a asp-controller="Genres" asp-action="Index" class="dropdown-item">Genre</a>
                        </li>
                        <li>
                            <a asp-controller="Sex" asp-action="FileSizes" class="dropdown-item">Geschlecht</a>
                        </li>
                        <li>
                            <a asp-controller="StorageLocation" asp-action="FileSizes" class="dropdown-item">Lagerort</a>
                        </li>
                        <li>
                            <a asp-controller="Nationalities" asp-action="FileSizes" class="dropdown-item">Nationalitäten</a>
                        </li>
                        <li>
                            <a asp-controller="PersonTypes" asp-action="FileSizes" class="dropdown-item">Personentypen</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col min-vh-10 p-4">
                <!-- toggler -->
                <button class="float-left" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" style="background-color: transparent; border-style: none;">
                    <i class="fa-solid fa-bars fa-flip" style="color: #3a5788; --fa-animation-duration: 2s" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                </button>
            </div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/devextreme/js/dx.all.min.js"></script>
    <script src="~/lib/highlightjs/datatables.searchhighlight.min.js"></script>
    <script src="~/lib/highlightjs/jquery.highlight.js"></script>
    <script src="~/lib/jquery-unobtrusive-ajax/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/moment/de.js"></script>
    <script src="~/lib/moment/moment-timezone-with-data.js"></script>
    <script src="~/lib/underscore.js/underscore-min.js"></script>


    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/bootstrap-material-design.min.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
    <script src="~/js/bootstrap-selectpicker.js"></script>
    <script src="~/js/chips.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/js/polyfill.js"></script>
    <script src="~/js/jquery.dm-uploader.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/serializejson.js"></script>

    <script src="~/fonts/fontawesome-free-6.5.2-web/js/fontawesome.min.js"></script>
    @* <script src="~/popper.js/cjs/popper.min.js"></script> *@
    <script src="~/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <environment include="Development">
        <script src="~/js/material-dashboard.js?v=2.1.0" type="text/javascript"></script>
        <!-- Dictionary files for supported languages -->
        <script src="~/lib/devextreme/js/localization/dx.messages.de.js"></script>
        <script src="~/lib/devextreme/js/localization/dx.messages.en.js"></script>
        <!-- Custom global functions -->
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
        <!-- Minified dictionary files for supported languages -->
        <script src="~/lib/devextreme/js/localization/dx.messages.de.min.js"></script>
        <script src="~/lib/devextreme/js/localization/dx.messages.en.min.js"></script>
        <!-- Custom global functions -->
        <script src="~/js/site.min.js"></script>
    </environment>

    <partial name="_Select2InitScript" />

    <script>
        var appRootPath = '@Context.Request.PathBase';
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>