@model global::MvcMoviesCore.Models.Movies

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Movies</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-3">
                    <label asp-for="YearOfPublication" class="control-label">Erscheinungsjahr</label>
                    <input asp-for="YearOfPublication" class="form-control" type="date" />
                    <span asp-validation-for="YearOfPublication" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="GenreId" class="control-label">Genre</label>
                    <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="RecordCarrierId" class="control-label">Datenträger</label>
                    <select asp-for="RecordCarrierId" class="form-control" asp-items="ViewBag.RecordCarrierId">
                        <option selected="selected" value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="InStock" class="control-label">Vorhanden</label>
                    <input type="checkbox" asp-for="InStock.Value" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="StorageLocationId" class="control-label">Lagerort</label>
                    <select asp-for="StorageLocationId" class="form-control" asp-items="ViewBag.StorageLocationId"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Added" class="control-label">hinzugefügt</label>
                    <input asp-for="Added" class="form-control" type="date" />
                    <span asp-validation-for="Added" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="OnWatch" class="control-label">auf dem Zettel</label>
                    <input asp-for="OnWatch" class="form-control" />
                    <span asp-validation-for="OnWatch" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="Remark" class="control-label">Bemerkung</label>
                    <input asp-for="Remark" class="form-control" />
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Adult" class="control-label">für Erwachsene</label>
                    <input type="checkbox" asp-for="Adult" class="form-control" />
                </div>
                <div class="form-group  col-md-3">
                    <label asp-for="ThreeD" class="control-label">3D</label>
                    <input type="checkbox" asp-for="ThreeD.Value" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Owner" class="control-label"></label>
                    <input asp-for="Owner" class="form-control" />
                    <span asp-validation-for="Owner" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="IMDB" class="control-label"></label>
                    <input asp-for="IMDB" class="form-control" />
                    <span asp-validation-for="IMDB" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Ranking" class="control-label"></label>
                    <input asp-for="Ranking" class="form-control" />
                    <span asp-validation-for="Ranking" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="LastView" class="control-label"></label>
                    <input asp-for="LastView" class="form-control" type="date" />
                    <span asp-validation-for="LastView" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
