@model global::MvcMoviesCore.Models.Movies

@{
    ViewData["Title"] = "Edit Movie";
    var actors = ViewData["Actors"] as IEnumerable<SelectListItem>;
    var roles = ViewData["Roles"] as IEnumerable<SelectListItem>;
    var fsk = ViewData["FSK"] as IEnumerable<SelectListItem>;
}
<div class="container-fluid">
    <h2>Film</h2>

    <h4>bearbeiten</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" id="movieId" />
                <div class="row">
                    <div class="col-md-12" id="addActor">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input type="text" asp-for="Name" class="form-control" id="name" />
                                    <label class="from-label" for="name">Titel:</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="YearOfPublication" class="form-control" type="date" id="yearOfPublication" />
                                    <label asp-for="YearOfPublication" class="from-label" for="yearOfPublication">erschienen:</label>
                                    <span asp-validation-for="YearOfPublication" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="RunTime" class="form-control" id="runTime" />
                                    <label class="from-label" for="runTime">Laufzeit:</label>
                                    <span asp-validation-for="LastView" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="LastView" class="form-control" type="date" id="lastView" />
                                    <label class="from-label" for="lastView">zuletzt gesehen:</label>
                                    <span asp-validation-for="LastView" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <select asp-for="GenreId" class="form-select" asp-items="ViewBag.GenreId" id="genreId"></select>
                                    <label class="from-label" for="genreId">Genre:</label>
                                    <span asp-validation-for="GenreId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <select asp-for="RecordCarrierId" class="form-select" asp-items="ViewBag.RecordCarrierId" id="recordCarrierId">
                                        @if (Model.RecordCarrierId == null)
                                        {
                                            <option selected="selected" value=""></option>
                                        }
                                    </select>
                                    <label class="form-label" for="recordCarrierId">Datenträger:</label>
                                    <span asp-validation-for="RecordCarrierId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <select asp-for="StorageLocationId" class="form-select" asp-items="ViewBag.StorageLocationId" id="storageLocationId">
                                        @if (Model.StorageLocationId == null)
                                        {
                                            <option selected="selected" value=""></option>
                                        }
                                    </select>
                                    <label class="form-label" for="storageLocationId">Lagerort:</label>
                                    <span asp-validation-for="StorageLocationId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <select asp-for="FSK" class="form-select" asp-items="@fsk" id="fsk">
                                        @if (Model.FSK == null)
                                        {
                                            <option selected="selected" value=""></option>
                                        }
                                    </select>
                                    <label class="form-label" for="storageLocationId">FSK:</label>
                                    <span asp-validation-for="StorageLocationId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="OnWatch" class="form-control" id="onWatch" />
                                    <label for="onWatch" class="from-label">Marker:</label>
                                    <span asp-validation-for="OnWatch" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="Added" class="form-control" type="date" id="added" />
                                    <label for="added" class="from-label">hinzugefügt:</label>
                                    <span asp-validation-for="Added" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="Remark" class="form-control" id="remark" />
                                    <label class="from-label" for="remark">Bemerkung:</label>
                                    <span asp-validation-for="Remark" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="OriginalTitle" class="form-control" id="originalTitle" />
                                    <label class="from-label" for="originalTitle">Original Titel:</label>
                                    <span asp-validation-for="OriginalTitle" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="IMDB" class="form-control" id="imdb" />
                                    <label for="imdb" class="from-label">IMDB Wertung:</label>
                                    <span asp-validation-for="IMDB" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="Ranking" class="form-control" id="ranking" />
                                    <label for="ranking" class="from-label">Wertung:</label>
                                    <span asp-validation-for="Ranking" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="FileSize" class="form-control" id="fileSize" />
                                    <label for="fileSize" class="from-label">Dateigröße:</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="FilePath" class="form-control" id="filePath" />
                                    <label for="filePath" class="from-label">Dateispeicherort:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input asp-for="Owner" class="form-control" id="owner" />
                                    <label for="owner" class="from-label">Besitzer:</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div >
                                    <label class="from-label" style="vertical-align:top">vorhanden:&nbsp;</label>
                                    <input asp-for="InStock.HasValue" type="checkbox" class="form-checkbox" id="inStock" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <label class="from-label" style="vertical-align:top">für Erwachsene:&nbsp;</label>
                                    <input asp-for="Adult" type="checkbox" class="form-checkbox" id="adult" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <label class="from-label" style="vertical-align:top">3D:&nbsp;</label>
                                    <input asp-for="ThreeD.HasValue" type="checkbox" class="form-checkbox" id="threeD" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <textarea asp-for="ShortDescription" class="form-control" id="shortDescription"></textarea>
                                    <label for="shortDescription" class="from-label">Kurzbeschreibung:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" style="background-color:aliceblue">
                    <div class="col-md-12" id="addActor">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <select id="newActor" asp-items="@actors" class="form-select" data-live-search="true"></select>
                                    <label class="form-label" for="newActor">Darsteller</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input id="newRole" asp-items="@roles" class="form-control" />
                                    <label for="newRole" class="form-label">Rolle</label>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top:auto; margin-bottom:auto;">
                                <p style="margin-top:auto; margin-bottom:auto;">
                                    <a onclick="addActor()" title="Person hinzufügen">
                                        <i class="fa-regular fa-square-plus fa-beat fa-2xl" style="color: #63E6BE; --fa-animation-duration: 2s;"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12" id="addActor">
                        <div class="row col-md-12" id="actorsDiv">
                            <div class="material-datatables table-responsive">
                                <table id="actorsTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="word-wrap:break-word; table-layout: auto;">
                                    <thead class="text-rose">
                                        <tr>
                                            <th>Darsteller</th>
                                            <th>Rolle</th>
                                            <th class="disabled-sorting text-right" style="width:5px">&nbsp;</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group col-md-3">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {

    <partial name="_DataTableScripts" />
    @* <partial name="_Select2InitScript" /> *@

    <script>
        $(document).ready(function () {
            const movieId = '@Model.Id';
            $('#actorsTable').DataTable({
                ajax: {
                    url: appRootPath + '/api/MoviesApi/GetActors/' + movieId,
                    dataSrc: ''
                },
                columns: [
                    { data: 'Actor' },
                    { data: 'Role' },
                    {
                        defaultContent: '<a class="btn btn-link btn-default btn-just-icon delete m-0"><i class="fa-solid fa-eraser fa-fade" style="color: #ff0000; --fa-animation-duration: 2s;"></i></a>',
                        className: 'text-right'
                    }
                ],
                paging: false,
                fixedHeader: {
                    header: true,
                    footer: false
                },
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        searchable: false,
                        className: 'compact'
                    }
                ],
                bFilter: false
            });
        });



        function addActor(){
            var actor = $.trim($('#newActor option:selected').text());
            var role = $.trim($('#newRole').val());
            if (!actor || !role){
                showWarning('Darsteller oder Rolle müssen ausgefüllt werden!');
                return;
            }
            var actorsTable = $('#actorsTable').DataTable();
            var actorsTableData = actorsTable.rows().data();
            if (actorsTableData.length > 0){
                for(let i = 0; i <actorsTableData.length; i++){
                    let rowActor = actorsTableData[i].Actor;
                    let rowRole = actorsTableData[i].Role
                    if (actor === rowActor && role === rowRole){
                        showWarning('Die Kombination aus Darsteller und Rolle existiert bereits!');
                        return;
                    }
                }
            }
            let data = {
                "MovieId": $('#movieId').val(),
                "Actor": actor,
                "Role": role
            };
            var url = appRootPath + '/api/MoviesApi/AddMovieActorRole';
            $.post(url, data, function () {
                Swal.fire({
                    icon: 'success',
                    text: 'Daten erfolgreich gespeichert.',
                    showConfirmButton: false,
                    timer: 2000
                })
                $('#actorsTable').DataTable().ajax.reload();
            })
            .fail(function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Daten konnten nicht gespeichert werden!',
                    footer: response.responseText
                })
            });
        }

        function showWarning(warningText){
            Swal.fire({
                text: warningText,
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok'
            });
        }

    </script>
}